/*general*/

* { font-family:'Conv_AE10013T',Sans-Serif;

}

@font-face {
  font-family: 'Conv_AE10013T';
  src: url('fonts/AE10013T.eot');
  src: local('☺'), url('fonts/AE10013T.woff') format('woff'), url('fonts/AE10013T.ttf') format('truetype'), url('fonts/AE10013T.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* body */

body {
	margin-top: 10px;
  background-color: #FDF5D0;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration: none;
}

a:hover {
  color: #A6C62D;
}

h2 a {
  text-decoration: none;
  font-weight: bold;
  font-size: 28px;
}

h2 {
  color: #A6C62D;
}

h1, h4, h3, h5 { font-family:'Conv_AE10013T',Sans-Serif;
}

h1 {
  font-size: 26px;
  margin-bottom: 20px;

}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

h5 {
  font-size: 1.2em;
  font-weight: bold;
}

/*header*/ 

header {
	border-bottom: 1px solid #949595; 
}

header a {
  text-decoration: none;
}

#header-nav {
  background-color: #FDF5D0;
  border-radius: 0;
  border: 0;
  }

#logo-img {
  width: 90px;
  height: 90px;
  margin: 10px 15px 10px 0;
}

.navbar {
	margin-bottom: 0;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { 
  
  color: #949595;
  font-size: 2.3em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { 
  color: #949595;
  margin-top: 10px;
  font-size: 1.2em;
}


#nav-list {
  margin-top: 15px;
}
#nav-list a {
  color: #949595;
  text-align: center;
 }

header .glyphicon {
color: #A6C62D;
font-size: 24px;
margin-bottom: 10px;
}

#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #949595;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/*body*/

/*main page*/

#kategorie {
  margin-top: 25px;
}

#formular {
  margin-top: 25px;
}

#search {
  margin-bottom: 25px;
}

label {
  padding-left: 5px;
}

.form-group {
  padding-left: 5px;
}

form {
  margin-top: 5px;
}

#sendmess {
  margin-left: 5px;
}

#povinne {
  margin-left: 5px;
}

.btn-success.disabled {
  background-color: #A6C62D;
  border-color: #A6C62D;
}

.panel-default {
  border-color: #949595;
  
}

.pager li>a {
  border: 1px solid #949595;
}

#drop {
  margin-bottom: 5px;
}

.text-justify {
  text-align: justify;
}

#vyska { 
  height: 450px;
}

img {
  float: left;
  margin-right: 15px;
}
#intro {
  padding-top: 19px;
}
/* end main page */




/*footer*/

.panel-footer {
  background-color: #949595;
  margin-bottom: 0;
  padding-bottom: 30px;
}

.panel-footerspan {
  padding-bottom: 10px;
}

footer {
  margin: 10px 0;
}

/*media q */

@media (max-width: 343px) {
.navbar-brand h1 {
  font-size: 1.9em;
}
.navbar-header button.navbar-toggle {
  margin-top: -20px;
}
}

@media (min-width: 399px) and (max-width: 767px) {
  .navbar-header button.navbar-toggle {
     margin-top: -50px;
  }
}

@media (max-width: 1199px) {
  img {
    margin-left: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav>li {
     width: 68px;
  }
}